{% extends '../layout.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Personal Info{% endblock %}
{% block footer %}{{get_current_year|date:"Y"}}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="profile-header">
            <h4>Personal Information</h4>
            <button type="button" class="btn btn-sm edit-btn text-white" data-bs-toggle="offcanvas" data-bs-target="#addPersonalInformationoffcanvas">
            <i class="bi bi-pencil-square me-1"></i> Add Changes
            </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="profile_inner_content">
            <p class="text-success">Please! Preview your information, correct if needed, otherwise just click "Add Changes" button to continue.</p>
            <div class="table-responsive">
                <table class="table table-bordered table-striped123">
                        <tbody>
                        <tr>
                            <td>Name : </td><td>{{userprofile.user.first_name|title}} {{userprofile.user.last_name|title}}</td>
                            <td>Gender : </td><td>{{userprofile.gender}}</td>
                        </tr>
                        <tr>
                            <td>Date of Birth : </td><td>{{userprofile.date_of_birth}}</td>
                            <td>Phonenumber: </td><td>{{userprofile.phone_number}}</td>
                        </tr>
                        <tr>
                            <td>Email Address : </td><td>{{userprofile.user.username}}</td>
                            <td>Nida Number : </td><td>{{userprofile.nida_number}}</td>
                        </tr>
                        <tr>
                            <td>Permanent Address : </td><td>{{userprofile.address}}</td>
                            <td>Permanent Address : </td><td>{{userprofile.address}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end w-100" data-bs-backdrop="static" tabindex="-1" id="addPersonalInformationoffcanvas" aria-labelledby="addPersonalInformationoffcanvasLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="addPersonalInformationoffcanvasLabel">Personal information</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
        <div class="profile_inner_content">
            <p class="text-success">
                Please review your details below to ensure everything is accurate before proceeding.
            </p>
            <div class="table-responsive">
                <form action="" method="POST" enctype="multipart/form-data" autocomplete="off">
                    {% csrf_token %}
                    <table class="table table-bordered table-striped123">
                            <thead class="table-info">
                                <tr>
                                    <th colspan="4">Personal informations</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{userform.username}}
                                <tr>
                                    <td>Username: </td><td><input type="email" name="username" class="form-control input-sm" value="{{userprofile.user.username}}"></td>
                                    <td>Firstname : </td><td><input type="text" name="first_name" class="form-control input-sm" value="{{user_instance.first_name}}" style="width: 100%;"></td></td>
                                </tr>
                                <tr>
                                    <td>Lastname : </td><td><input type="text" name="last_name" class="form-control input-sm" value="{{user_instance.last_name}}" style="width: 100%;"></td></td>
                                    <td>Fullname : </td><td><input type="text" readonly name="full_name" class="form-control input-sm" value="{{user_instance.user_userprofile.full_name}}" style="width: 100%;"></td>
                                </tr>
                                <tr>
                                    <td>Email : </td><td><input type="email" readonly name="email" class="form-control input-sm" value="{{userprofile.user.email}}" style="width: 100%;"></td>
                                    <td>Gender : </td>
                                    <td>
                                        {% render_field userprofile_form.gender name="gender" class="form-control input-sm" %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Date of Birth : </td><td>{% render_field userprofile_form.date_of_birth type="date" name="date_of_birth" class="form-control input-sm" %}</td>
                                    <td>Phonenumber: </td><td>{% render_field userprofile_form.phone_number name="phone_number" class="form-control input-sm" %}</td>
                                </tr>
                                <tr>
                                    <td>Nida Number: </td><td>{% render_field userprofile_form.nida_number name="nida_number" class="form-control input-sm" %}</td>
                                    <td>Address : </td><td>{% render_field userprofile_form.address name="address" class="form-control input-sm" rows="3" style="resize:none" %}</td>
                                </tr>
                                <tr>
                                    <td>Profile Image: </td><td colspan="3">{% render_field userprofile_form.profie_image name="profie_image" class="form-control input-sm" %}</td>
                                </tr>
                            </tbody>

                            <tbody>
                                <tr>
                                    <td>Action Button : </td><td><button type="submit" name="update_user_profile_btn" class="btn btn-sm edit-btn"> Save changes</button></td>
                                </tr>
                            </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
  </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const firstNameInput = document.querySelector('input[name="first_name"]');
        const lastNameInput = document.querySelector('input[name="last_name"]');
        const fullNameInput = document.querySelector('input[name="full_name"]');
        const usernameInput = document.querySelector('input[name="username"]');
        const emailInput = document.querySelector('input[name="email"]');

        function updateFullName() {
            const firstName = firstNameInput.value.trim();
            const lastName = lastNameInput.value.trim();
            fullNameInput.value = `${firstName} ${lastName}`;
        }

        function updateEmail() {
            const username = usernameInput.value.trim();
            emailInput.value = `${username}`; // Customize your domain here
        }

        firstNameInput.addEventListener("keyup", updateFullName);
        lastNameInput.addEventListener("keyup", updateFullName);
        usernameInput.addEventListener("keyup", updateEmail);
    });
</script>
{% endblock %}