{% extends '../layout.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}dashboard{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="top-header">
            <h2>Welcome Back!</h2>
            <p>This is your secure space to manage your digital legacy, assets, and beneficiaries.</p>
            <hr />
            <p><strong>Tip:</strong> Always keep your will and beneficiaries updated for maximum clarity.</p>
        </div>
    </div>
</div>

{% endblock %}